In [1]:
import pandas as pd
import numpy as np

In [2]:
myseries1=pd.Series([2166086,20770], index=['IR Iran','Israel'])
myseries1

IR Iran    2166086
Israel       20770
dtype: int64

In [3]:
myseries2=pd.Series([9372610,17098242], index=['United States Of America','The Russian Government'])
myseries2

United States Of America     9372610
The Russian Government      17098242
dtype: int64

In [4]:
myseries1 + myseries2

IR Iran                    NaN
Israel                     NaN
The Russian Government     NaN
United States Of America   NaN
dtype: float64

In [5]:
iran = pd.Series([2166086,830000, 2166086,830000,1.43],index=['row1','row2','row3','row4','row5'])
iran

row1    2166086.00
row2     830000.00
row3    2166086.00
row4     830000.00
row5          1.43
dtype: float64

In [6]:
iran.values

array([2.166086e+06, 8.300000e+05, 2.166086e+06, 8.300000e+05,
       1.430000e+00])

In [7]:
iran.index

Index(['row1', 'row2', 'row3', 'row4', 'row5'], dtype='object')

In [13]:
pc = np.array([[17098242 ,6323142 ,11],[2166086 ,830000 ,1.43],[9706961 ,3624807 ,6.3],[9147420 ,3531837 ,6.1]])

mydf = pd.DataFrame(pc, index=['The Russian Government' ,'IR Iran' ,'The Democratic Republic Of China','United States Of America'], columns=['land area(km^2)' ,'land area(mi^2)' ,'percentage of world landmass'])
mydf

,land area(km^2),land area(mi^2),percentage of world landmass
The Russian Government,17098242.0,6323142.0,11.00
IR Iran,2166086.0,830000.0,1.43
The Democratic Republic Of China,9706961.0,3624807.0,6.30
United States Of America,9147420.0,3531837.0,6.10

In [14]:
mydf.index

Index(['The Russian Government', 'IR Iran', 'The Democratic Republic Of China',
       'United States Of America'],
      dtype='object')

In [15]:
mydf.columns

Index(['land area(km^2)', 'land area(mi^2)', 'percentage of world landmass'], dtype='object')

In [16]:
mydf.values

array([[1.7098242e+07, 6.3231420e+06, 1.1000000e+01],
       [2.1660860e+06, 8.3000000e+05, 1.4300000e+00],
       [9.7069610e+06, 3.6248070e+06, 6.3000000e+00],
       [9.1474200e+06, 3.5318370e+06, 6.1000000e+00]])