In [1]:
import numpy as np
import pandas as pd

In [2]:
my_dict = {'Jan':[1,2,3,4],'Feb':[5,6,7,8],'Mar':[9,10,11,12],'Apr':[13,14,15,19]}

my_df = pd.DataFrame(my_dict, index=['Sat','Sun','Mon','Tue'])
my_df

     Jan  Feb  Mar  Apr
Sat    1    5    9   13
Sun    2    6   10   14
Mon    3    7   11   15
Tue    4    8   12   19